# Ignore everything
**

# ...except for all of this
!esbuild.mjs
!manage.py
!package.json
!settings.py
!urls.py
!wsgi.py

!crawler/**/*.py

!requirements

!sample/sample.sqlite3

!viewer/**/*.py
!viewer/static_src
!viewer/templates

