.search_results .results_count {
  padding-left: 1.875em;
}

.search_results .results_list {
  padding-top: 0;
}

.search_results .results_csv {
  margin: 0.9375em 0.9375em 3.75em 1.875em;
}

.search_results .results_list ul {
  padding-left: 0.9375em;
}

.search_results .results_item {
  margin: 1em 0;
}

.u-truncate {
  max-width: none !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  list-style-position: inside;
}

code.language-html {
  max-height: 500px;
  overflow: scroll;
  display: block;
}

.breadcrumbs {
  border: 0;
}

.o-radio_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.o-radio_buttons div {
  flex: 50%;
}

.o-radio_buttons label>span
{
    display:block;
    margin: 3px 0;
    font-weight: normal;
    font-size: small;
}

.o-radio_buttons label
{
    font-weight: bold;
}

.o-form__input-w-btn-alt {
  border-left-width: 0;
}

.a-btn-alt {
  margin-top: 15px;
}