{% load gtm %}
{% load static %}

<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <title>
      {% block title %}Consumerfinance.gov web page index{% endblock %}
    </title>
    {% gtm_head %}
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🪱</text></svg>"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    {% gtm_body %}
    <div class="skip-nav">
      <a class="skip-nav__link" href="#main">Skip to main content</a>
    </div>
    <main class="u-layout-grid" id="main">
      <div class="u-layout-grid__wrapper">
        {% block breadcrumbs %}{% endblock breadcrumbs %}
        <div class="u-layout-grid__main">
          {% block content %}{% endblock content %}
        </div>
      </div>
    </main>
    <footer class="o-footer">
      <div class="wrapper wrapper--match-content">
        <div
          class="a-tagline a-tagline--large"
          aria-label="An official website of the United States government"
        >
          <span class="u-usa-flag"></span>
          <div class="a-tagline__text">
            An official website of the
            <span class="u-nowrap">United States government</span>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
