{% extends './base.html' %} {% load humanize %}
{% block content %}
  <div class="lead-paragraph">
    {{ results | length | intcomma }} total
    <a class="a-link" href="https://cfpb.github.io/design-system">
      <span class="a-link__text">CFPB Design System</span>
      {% include "external-link.svg" %}</a
    >
    component{{ results | length | pluralize }}
  </div>

  <div class="block block--flush-top">
    <ul class="m-list">
      {% for component in results %}
        <li class="results__item">
          <a
            href="{% url 'index' %}?search_type=components&q={{ component.class_name | escape }}"
          >
            {{ component.class_name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
