{% extends './base.html' %} {% block content %} {% load static %}
<nav class="breadcrumbs" aria-label="Breadcrumbs">
  {% include './icons/chevron-left.svg' %}
  <a id="breadcrumb_link" class="breadcrumbs_link" href="{% url 'index' %}">
    Consumerfinance.gov web page index
  </a>
</nav>

<h2 class="o-header_alt">Common Searches</h2>

<p>
  This tool stores a nightly snapshot of consumerfinance.gov web page data that
  you can search for all sorts of useful things. Common search examples are
  below. You can also
  <a href="#data-about">learn more about the data</a>. </p
><p
  >View results in the browser, or export them as a CSV. For those less handy
  with Excel, it may be useful to
  <!-- prettier-ignore -->
  <a class="m-list_link a-link a-link__icon" href="{% static 'download-files/query-string-filtering.docx' %}">
    <span class="a-link_text">learn how to filter our results with query strings</span>
    <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 12 19"
    class="cf-icon-svg">
    <path
      d="M11.16 16.153a.477.477 0 0 1-.476.475H1.316a.476.476 0 0 1-.475-.475V3.046a.476.476 0 0 1 .475-.475h6.95l2.893 2.893zm-1.11-9.925H8.059a.575.575 0 0 1-.574-.573V3.679H1.95v11.84h8.102zm-1.234 5.604L6.388 14.26a.554.554 0 0 1-.784 0l-2.428-2.428a.554.554 0 1 1 .783-.784l1.483 1.482V7.41a.554.554 0 1 1 1.108 0v5.12l1.482-1.482a.554.554 0 0 1 .784.783z"></path>
    </svg>.
  </a>
</p>

<div class="block">
  <h2>Title</h2>
  <p>Find all instances of a string in the title of a cf.gov page.</p>
  <p class="u-bold_text">Examples</p>
  <ul class="m-list">
    <li class="m-list_item">
      You want a list of all pages with the word "Chopra" in the title.
      <a href="{% url 'index' %}?search_type=title&q=Chopra">Search "Chopra"</a>
    </li>
  </ul>
</div>

<div class="block">
  <h2>URL</h2>
  <p>Find all instances of a string in the URL of a cf.gov page. </p>
  <p class="u-bold_text">Examples</p>
  <ul class="m-list">
    <li class="m-list_item">
      Your stakeholder wants a list of all the pages in a given site section.
      <a
        href="{% url 'index' %}?search_type=links&q={{ '/about-us/the-bureau/bureau-structure/' | urlencode }}">
        Search "/about-us/the-bureau/bureau-structure/"
      </a>
    </li>
  </ul>
</div>

<div class="block">
  <h2>Components</h2>
  <p>
    Search by
    <a href="{% url 'components' %}">class names</a>
    of our
    <a class="a-link a-link__icon" href="https://cfpb.github.io/design-system/">
      <span class="a-link_text">Design System</span>
      components and patterns
      <svg
        class="cf-icon-svg"
        viewBox="0 0 14 19"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M13.017 3.622v4.6a.554.554 0 0 1-1.108 0V4.96L9.747 7.122a1.65 1.65 0 0 1 .13.646v5.57A1.664 1.664 0 0 1 8.215 15h-5.57a1.664 1.664 0 0 1-1.662-1.663v-5.57a1.664 1.664 0 0 1 1.662-1.662h5.57A1.654 1.654 0 0 1 9 6.302l2.126-2.126H7.863a.554.554 0 1 1 0-1.108h4.6a.554.554 0 0 1 .554.554zM8.77 8.1l-2.844 2.844a.554.554 0 0 1-.784-.783l2.947-2.948H2.645a.555.555 0 0 0-.554.555v5.57a.555.555 0 0 0 .554.553h5.57a.555.555 0 0 0 .554-.554z"></path></svg></a
    >. Partial searches also work: searching for "notification" will return
    pages containing "m-notification", "m-notification__borderless", etc.
  </p>
  <p class="u-bold_text">Examples</p>

  <ul class="m-list">
    <li class="m-list_item">
      You're doing an audit of all occurrences of the notification pattern.
      <a href="{% url 'index' %}?search_type=components&q=m-notification">
        Search "m-notification"
      </a>
    </li>
  </ul>
</div>

<div class="block">
  <h2>Links</h2>
  <p>
    Find all instances of a string in the URLs of links listed on a cf.gov page,
    excluding the header and footer.
  </p>
  <p class="u-bold_text">Examples</p>

  <ul class="m-list">
    <li class="m-list_item">
      You're looking for all instances of external links to the FTC.
      <a href="{% url 'index' %}?search_type=links&q=FTC">Search "FTC"</a>
    </li>
    <li class="m-list_item">
      You want to find and remediate accidental links to the content server.
      <a
        href="{% url 'index' %}?search_type=links&q=content.consumerfinance.gov">
        Search "content.consumerfinance.gov"
      </a>
    </li>
    <li class="m-list_item">
      You want to find and remediate broken links.
      <a href="{% url 'index' %}?search_type=links&q=none">Search "none"</a>
    </li>
    <li class="m-list_item">
      You're looking for incorrectly formatted document links.
      <a
        href="{% url 'index' %}?search_type=links&q={{ 'www.consumerfinance.gov/documents' | urlencode }}">
        Search "www.consumerfinance.gov/documents"
      </a>
    </li>
  </ul>
</div>

<div class="block">
  <h2>Full text</h2>
  <p>
    Find all instances of a term or exact phrase in the full text of the
    &lt;body&gt; of a page, excluding the header and footer.
  </p>
  <p class="u-bold_text">Examples</p>

  <ul class="m-list">
    <li class="m-list_item">
      You're looking for specific phrasing or language that might need to be
      updated because of a policy change.
      <a
        href="{% url 'index' %}?search_type=text&q={{ 'medical debt' | urlencode }}">
        Search "medical debt"
      </a>
    </li>
  </ul>
</div>

<div class="block">
  <h2>HTML</h2>
  <p
    >Find all instances of a string in the HTML of the &lt;body&gt; of a cf.gov
    page, excluding the header and footer.</p
  >
  <p class="u-bold_text">Examples</p>

  <ul class="m-list">
    <li class="m-list_item">
      You want to find and remediate manually-added line breaks.
      <a href="{% url 'index' %}?search_type=html&q={{ '<br>' | urlencode }}">
        Search "&lt;br&gt;"
      </a>
    </li>
    <li class="m-list_item">
      You want to find pages that include a specific image filename.
      <a href="{% url 'index' %}?search_type=html&q=consumer_tools_hero">
        Search "consumer_tools_hero"
      </a>
    </li>
    <li class="m-list_item">
      You want to find pages encoded in Traditional Chinese.
      <a href="{% url 'index' %}?search_type=html&q=html+lang=%22zh-Hant%22">
        Search "html lang="zh-Hant""
      </a>
    </li>
  </ul>
</div>

<div class="o-well o-well_alt">
  <div id="data-about" class="lead-paragraph">About the data</div>
  <p
    >This index contains web page data saved from the www.consumerfinance.gov
    domain.</p
  >
  <p
    >The index is built using an iterative process that "crawls" every page of
    the website, starting at the home page. A web crawler starts on that page,
    then follows every link on that page, then follows every link on those
    pages, and so on. If a link leaves the www.consumerfinance.gov domain, it is
    ignored. In this way, the crawler covers every page on the website that is
    linked from any other page.</p
  >
  <p>The data <b>excludes</b>:</p>
  <ul class="m-list">
    <li>
      Pages on other subdomains, like files.consumerfinance.gov, although it
      does track links to those pages.
    </li>
    <li>
      Pages with query parameters, with the exception of the ?page= query
      parameter. So, "/about-us/blog/?page=1" is included, but
      "/about-us/blog/?title=&topics=financial-education" is not.
    </li>
  </ul>
</div>
{% endblock %}
