{% extends './base.html' %} {% load static %}

{% block breadcrumbs %}
  {% include "viewer/breadcrumbs.html" %}
{% endblock breadcrumbs %}

{% block content %}
  <div class="block block--flush-top">
    <h1>Common searches</h1>

    <p>
      This tool stores a nightly snapshot of consumerfinance.gov web page data
      that you can search for all sorts of useful things. Common search examples
      are below. You can also
      <a href="#data-about">learn more about the data</a>.
    </p>
    <p>
      View results in the browser, or export them as a CSV. For those less handy
      with Excel, it may be useful to
      <a class="a-link" href="{% static 'query-string-filtering.docx' %}">
        <span class="a-link__text"
          >learn how to filter out results with query strings</span
        >
        {% include "download.svg" %}.
      </a>
    </p>
  </div>

  <div class="block block--sub">
    <h2>Title</h2>
    <p>Find all instances of a string in the title of a cf.gov page.</p>
    <h3>Examples</h3>
    <ul class="m-list">
      <li class="m-list__item">
        You want a list of all pages with the word "Chopra" in the title.
        <a href="{% url 'index' %}?search_type=title&q=Chopra"
          >Search "Chopra"</a
        >
      </li>
    </ul>
  </div>

  <div class="block block--sub">
    <h2>URL</h2>
    <p>Find all instances of a string in the URL of a cf.gov page.</p>
    <h3>Examples</h3>
    <ul class="m-list">
      <li class="m-list__item">
        Your stakeholder wants a list of all the pages in a given site section.
        <a
          href="{% url 'index' %}?search_type=links&q={{ '/about-us/the-bureau/bureau-structure/' | urlencode }}"
        >
          Search "/about-us/the-bureau/bureau-structure/"
        </a>
      </li>
    </ul>
  </div>

  <div class="block block--sub">
    <h2>Components</h2>
    <p>
      Search by
      <a href="{% url 'components' %}">class names</a>
      of our
      <a class="a-link" href="https://cfpb.github.io/design-system/">
        <span class="a-link__text">Design System</span>
        {% include "external-link.svg" %}</a
      >
      components and patterns. Partial searches also work: searching for
      "notification" will return pages containing "m-notification",
      "m-notification__borderless", etc.
    </p>
    <h3>Examples</h3>
    <ul class="m-list">
      <li class="m-list__item">
        You're doing an audit of all occurrences of the notification pattern.
        <a href="{% url 'index' %}?search_type=components&q=m-notification">
          Search "m-notification"
        </a>
      </li>
    </ul>
  </div>

  <div class="block block--sub">
    <h2>Links</h2>
    <p>
      Find all instances of a string in the URLs of links listed on a cf.gov
      page, excluding the header and footer.
    </p>
    <h3>Examples</h3>
    <ul class="m-list">
      <li class="m-list__item">
        You're looking for all instances of external links to the FTC.
        <a href="{% url 'index' %}?search_type=links&q=FTC">Search "FTC"</a>
      </li>
      <li class="m-list__item">
        You want to find and remediate accidental links to the content server.
        <a
          href="{% url 'index' %}?search_type=links&q=content.consumerfinance.gov"
        >
          Search "content.consumerfinance.gov"
        </a>
      </li>
      <li class="m-list__item">
        You want to find and remediate links to trashed Wagtail pages.
        <a href="{% url 'index' %}?search_type=links&q=none">Search "none"</a>
      </li>
      <li class="m-list__item">
        You're looking for incorrectly formatted document links.
        <a
          href="{% url 'index' %}?search_type=links&q={{ 'www.consumerfinance.gov/documents' | urlencode }}"
        >
          Search "www.consumerfinance.gov/documents"
        </a>
      </li>
    </ul>
  </div>

  <div class="block block--sub">
    <h2>Full text</h2>
    <p>
      Find all instances of a term or exact phrase in the full text of the
      &lt;body&gt; of a page, excluding the header and footer.
    </p>
    <h3>Examples</h3>
    <ul class="m-list">
      <li class="m-list__item">
        You're looking for specific phrasing or language that might need to be
        updated because of a policy change.
        <a
          href="{% url 'index' %}?search_type=text&q={{ 'medical debt' | urlencode }}"
        >
          Search "medical debt"
        </a>
      </li>
    </ul>
  </div>

  <div class="block block--sub">
    <h2>HTML</h2>
    <p>
      Find all instances of a string in the HTML of the &lt;body&gt; of a cf.gov
      page, excluding the header and footer.
    </p>
    <h3>Examples</h3>
    <ul class="m-list">
      <li class="m-list__item">
        You want to find and remediate manually-added line breaks.
        <a href="{% url 'index' %}?search_type=html&q={{ '<br>' | urlencode }}">
          Search "&lt;br&gt;"
        </a>
      </li>
      <li class="m-list__item">
        You want to find pages that include a specific image filename.
        <a href="{% url 'index' %}?search_type=html&q=consumer_tools_hero">
          Search "consumer_tools_hero"
        </a>
      </li>
      <li class="m-list__item">
        You want to find pages encoded in Traditional Chinese.
        <a href="{% url 'index' %}?search_type=html&q=html+lang=%22zh-Hant%22">
          Search "html lang="zh-Hant""
        </a>
      </li>
      <li class="m-list__item">
        You want to find pages containing one of our
        <a
          class="a-link"
          href="https://cfpb.github.io/design-system/foundation/iconography"
        >
          <span class="a-link__text">named icons</span>
          {% include "external-link.svg" %}</a
        >.
        <a href="{% url 'index' %}?search_type=html&q=cf-icon-svg--college">
          Search "cf-icon-svg--college"
        </a>
      </li>
      <li class="m-list__item">
        You want to find and remediate links to deleted Wagtail pages.
        <a href="{% url 'index' %}?search_type=html&q={{ '<a>' | urlencode }}">
          Search "&lt;a&gt;"
        </a>
      </li>
    </ul>
  </div>

  <div class="block">
    <div class="o-well">
      <div id="data-about" class="lead-paragraph">About the data</div>
      <p>
        This index contains web page data saved from the www.consumerfinance.gov
        domain.
      </p>
      <p>
        The index is built using an iterative process that "crawls" every page
        of the website, starting at the home page. A web crawler starts on that
        page, then follows every link on that page, then follows every link on
        those pages, and so on. If a link leaves the www.consumerfinance.gov
        domain, it is ignored. In this way, the crawler covers every page on the
        website that is linked from any other page.
      </p>
      <p>The data <strong>excludes</strong>:</p>
      <ul class="m-list">
        <li class="m-list__item">
          Pages on other subdomains, like files.consumerfinance.gov, although it
          does track links to those pages.
        </li>
        <li class="m-list__item">
          Pages with query parameters, with the exception of the ?page= query
          parameter. So, "/about-us/blog/?page=1" is included, but
          "/about-us/blog/?title=&topics=financial-education" is not.
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
