{% load humanize %} {% load viewer %}

<div class="block block--sub block--flush-bottom">
  <div
    class="m-notification m-notification--{% if count %}success{% else %}warning{% endif %} m-notification--visible"
  >
    {% if count %}
      {% include "approved-round.svg" %}
    {% else %}
      {% include "warning-round.svg" %}
    {% endif %}
    <div class="m-notification__content">
      <div class="m-notification__message">{% results_summary %}</div>
      {% if count %}
        <ul class="m-list m-list--links">
          <li class="m-list__item">
            <a
              class="a-link a-link--jump"
              href="{% url 'index' %}?format=csv{% if request.query_params.search_type %}&search_type={{ request.query_params.search_type | urlencode }}{% endif %}{% if request.query_params.q %}&q={{ request.query_params.q | urlencode }}{% endif %}"
            >
              <span class="a-link__text">Download search results</span>
              {% include "download.svg" %}</a
            >
            <span>
              {# Use an arbitrary estimate of how big the CSV is likely to be. #}
              {# Use Django's built-in width ratio tag as a way to multiply. #}
              {% widthratio count 1 256 as csv_file_size %}
              (CSV, ~{{ csv_file_size | filesizeformat }})
            </span>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
</div>

<div class="block block--sub block--flush-top">
  <div class="results-list">
    <ul class="m-list">
      {% for page in results %}
        <li class="results-list__item">
          <h4>
            <a class="a-link" href="{{ page.url }}">
              <span class="a-link__text">{{ page.title }}</span>
              {% include "external-link.svg" %}</a
            >
          </h4>
          <div class="u-truncate">{{ page.url }}</div>
          <a
            href="{% url 'page' %}?url={{ page.url | urlencode }}{% if request.query_params.search_type %}&search_type={{ request.query_params.search_type | urlencode }}{% endif %}{% if request.query_params.q %}&q={{ request.query_params.q | urlencode }}{% endif %}"
          >
            Details
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if previous or next %}
  <div class="block block--sub">
    <nav class="m-pagination" role="navigation" aria-label="Pagination">
      <a
        {% if previous %}
          class="a-btn m-pagination__btn-prev" href="{{ previous }}"
        {% else %}
          class="a-btn a-btn--disabled m-pagination__btn-prev"
        {% endif %}
      >
        {% include 'left.svg' %}
        <span>Previous</span>
      </a>
      <a
        {% if next %}
          class="a-btn m-pagination__btn-next" href="{{ next }}"
        {% else %}
          class="a-btn a-btn--disabled m-pagination__btn-next"
        {% endif %}
      >
        <span>Next</span>
        {% include 'right.svg' %}
      </a>
      <form class="m-pagination__form" action="{% url 'index' %}">
        <label class="m-pagination__label" for="m-pagination__current-page">
          Page
          <span class="u-visually-hidden"> {{ page_obj.number }} out </span>
          <input
            class="m-pagination__current-page"
            id="m-pagination__current-page-default"
            name="page"
            type="number"
            min="1"
            max="{{ num_pages }}"
            pattern="[0-9]*"
            inputmode="numeric"
            value="{{ page_number }}"
          />
          of {{ num_pages }}
        </label>
        <button
          class="a-btn a-btn--link m-pagination__btn-submit"
          type="submit"
        >
          Go
        </button>
        <input
          type="hidden"
          name="search_type"
          value="{{ request.query_params.search_type }}"
        />
        <input type="hidden" name="q" value="{{ request.query_params.q }}" />
      </form>
    </nav>
  </div>
{% endif %}

<div class="block block--sub">
  <div class="o-well">
    <div class="h3">Discover more</div>
    {% if crawl_stats.start %}
      <div class="crawl-date">
        <span id="last-crawl" class="crawl-date__text">Data last updated:</span>
        <p>{{ crawl_stats.start | format_datetime }}</p>
      </div>
    {% endif %}
    <ul class="m-list">
      <li>
        Download
        <a class="a-link" href="{% url 'errors' %}?format=csv">
          <span class="a-link__text">website errors (including 404s)</span>
          {% include "download.svg" %}</a
        >
        and
        <a class="a-link" href="{% url 'redirects' %}?format=csv">
          <span class="a-link__text">website redirects</span>
          {% include "download.svg" %}</a
        >
        (CSV files)
      </li>
      <li>
        Explore the data via API:
        <a class="a-link" href="{% url 'index' %}?format=api">pages</a>,
        <a class="a-link" href="{% url 'components' %}?format=api">components</a
        >, <a class="a-link" href="{% url 'errors' %}?format=api">errors</a>,
        and
        <a class="a-link" href="{% url 'redirects' %}?format=api">redirects</a>
      </li>
    </ul>
  </div>
</div>
