{% load humanize %} {% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>{% block title %}Consumerfinance.gov crawler{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <link rel="stylesheet" href="{% static 'crawsqueal.css' %}" />
  </head>
  <body>
    <div class="skip-nav">
      <a class="skip-nav_link" href="#main">Skip to main content</a>
    </div>
    <header class="o-header o-header__mega-menu" style="min-height: 0">
      <div class="m-global-eyebrow m-global-eyebrow__horizontal">
        <div class="wrapper wrapper__match-content">
          <div class="a-tagline">
            <span class="u-usa-flag"></span>
            <div class="a-tagline_text">
              An official website of the
              <span class="u-nowrap">United States government</span>
            </div>
          </div>
          <div class="m-global-eyebrow-actions" style="text-align: right">
            <ul class="m-list m-list__horizontal">
              <li class="m-list_item">
                Last website crawl:
                <a href="#last-crawl">{{ crawl_stats.start | naturaltime }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="o-header_content">
        <div class="wrapper wrapper__match-content">
          <a class="o-header_logo" href="/">
            <img
              alt="Consumer Financial Protection Bureau"
              class="o-header_logo-img"
              height="50"
              sizes="(max-width: 900px) 161px,
                            237px"
              src="https://www.consumerfinance.gov/static/img/logo_237x50.png"
              srcset="
                https://www.consumerfinance.gov/static/img/logo_161x34.png    161w,
                https://www.consumerfinance.gov/static/img/logo_161x34@2x.png 322w,
                https://www.consumerfinance.gov/static/img/logo_161x34@3x.png 483w,
                https://www.consumerfinance.gov/static/img/logo_161x34@4x.png 644w,
                https://www.consumerfinance.gov/static/img/logo_237x50.png    237w,
                https://www.consumerfinance.gov/static/img/logo_237x50@2x.png 474w
              "
              width="237" />
          </a>
        </div>
      </div>
    </header>
    <main class="content" id="main">
      <div class="wrapper content_wrapper">
        <div class="content_main content__1-3">
          <div class="content_main-inner">
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>
    </main>
    <footer class="o-footer">
      <div class="wrapper wrapper__match-content">
        <div class="a-tagline a-tagline__large">
          <span class="u-usa-flag"></span>
          <div class="a-tagline_text">
            An official website of the
            <span class="u-nowrap">United States government</span>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static 'crawsqueal.js' %}" type="module"></script>
  </body>
</html>
