{% load static %}
{% load viewer %}

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>{% block title %}Crawsqueal{% endblock %}</title>
    <link rel="stylesheet" href="{% static "main.css" %}">
  </head>
  <body>
    <div class="skip-nav">
      <a class="skip-nav_link" href="#main"> Skip to main content </a>
    </div>
    <header class="o-header o-header__mega-menu" style="min-height:0">
      <div class="m-global-eyebrow
                  m-global-eyebrow__horizontal">
        <div class="wrapper
                    wrapper__match-content">
          <div class="a-tagline">
            <span class="u-usa-flag"></span>
            <div class="a-tagline_text"> An official website of the <span class="u-nowrap">United States government</span>
            </div>
          </div>
        </div>
      </div>
      <div class="o-header_content">
        <div class="wrapper wrapper__match-content">
          <a class="o-header_logo" href="/">
            <img alt="Consumer Financial Protection Bureau" class="o-header_logo-img" height="50" sizes="(max-width: 900px) 161px,
                            237px" src="https://www.consumerfinance.gov/static/img/logo_237x50.png" srcset="https://www.consumerfinance.gov/static/img/logo_161x34.png 161w,
                             https://www.consumerfinance.gov/static/img/logo_161x34@2x.png 322w,
                             https://www.consumerfinance.gov/static/img/logo_161x34@3x.png 483w,
                             https://www.consumerfinance.gov/static/img/logo_161x34@4x.png 644w,
                             https://www.consumerfinance.gov/static/img/logo_237x50.png 237w,
                             https://www.consumerfinance.gov/static/img/logo_237x50@2x.png 474w" width="237" />
          </a>
        </div>
      </div>
    </header>
    <main class="content" id="main">
      <div class="wrapper content_wrapper">
        <div class="content_main content__1-3">
          <div class="content_main-inner">
            <div class="block block__sub">
              <div class="content_wrapper search_form">
                <h1>Search <span class="search_intro__all">consumerfinance.gov</span></h1>
                  <div class="lead-paragraph">
                    <p>
                      <span class="search_intro__all">Search every page of consumerfinance.gov for specific text, links or source code.</span>
                    </p>
                  </div>
              </div>
            </div>
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>
    </main>
    <footer class="o-footer">
      <div class="wrapper wrapper__match-content">
        {% get_database_file_size as db_file_size %}
        {% if db_file_size %}
        <div>
          <ul class="o-footer_list m-list">
            <li class="m-list_item">
              <a class="m-list_link a-link a-link__icon"
                href="{% url "download-database" %}"
              >
                <span class="a-link_text">
                  Download raw SQLite database
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 19" class="cf-icon-svg"><path d="M11.16 16.153a.477.477 0 0 1-.476.475H1.316a.476.476 0 0 1-.475-.475V3.046a.476.476 0 0 1 .475-.475h6.95l2.893 2.893zm-1.11-9.925H8.059a.575.575 0 0 1-.574-.573V3.679H1.95v11.84h8.102zm-1.234 5.604L6.388 14.26a.554.554 0 0 1-.784 0l-2.428-2.428a.554.554 0 1 1 .783-.784l1.483 1.482V7.41a.554.554 0 1 1 1.108 0v5.12l1.482-1.482a.554.554 0 0 1 .784.783z"></path></svg>
              </a>
              ({{ db_file_size | filesizeformat }}) to
              <a class="m-list_link"
                  href="https://github.com/cfpb/crawsqueal#how-to-query-the-crawler-database">
                  explore the data locally
              </a>
            </li>
          </ul>
        </div>
        {% endif %}
        <div{% if db_file_size %} class="o-footer-post"{% endif %}>
          <div class="a-tagline a-tagline__large">
            <span class="u-usa-flag"></span>
            <div class="a-tagline_text"> An official website of the <span class="u-nowrap">United States government</span>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static "crawsqueal.js" %}" type="module"></script>
  </body>
</html>
