{% extends './base.html' %} {% block content %}
<div class="block block__sub">
  <div class="content_wrapper search_form">
    <h1>Consumerfinance.gov crawler</h1>
    {% block intro %}
    <div class="lead-paragraph">
      The crawler stores a nightly snapshot of webpage data that you can search
      for all sorts of useful things.
      <p>Check out <a href="{% url 'help' %}">common searches</a>. </p>
    </div>
    {% endblock intro %}
    <div class="u-crawl_date">
      <span class="u-crawl_text">Last crawl: </span>
      <p>{{ crawl_stats.start | date:"N j, Y" }}</p>
    </div>
    <p><a href="#last-crawl">Discover more about the latest crawl</a></p>
  </div>
</div>

<div class="content_wrapper search_form">
  {% include './search_form.html' %}
</div>
<div class="content_wrapper search_results">
  <div
    class="content_main content_main-alt content__flush-all-on-small content__flush-bottom">
    <section class="content_main-inner">
      {% block content_main %}{% endblock content_main %}
    </section>
  </div>
</div>
{% endblock content %}
