{% extends './base.html' %} {% block content %}
<div class="block block__sub">
  <div class="content_wrapper search_form">
    <h1>Consumerfinance.gov web page index</h1>
    {% block intro %}
    <div class="lead-paragraph">
      This tool generates and stores a nightly snapshot of CF.gov web page
      <p>
        data that you can
        <a href="{% url 'help' %}">search for all sorts of useful things</a>.
      </p>
    </div>
    {% endblock intro %}
    <div class="u-crawl_date">
      <span class="u-crawl_text">Data last updated: </span>
      <p><a href="#last-crawl">{{ crawl_stats.start }}</a></p>
    </div>
  </div>
</div>

<div class="content_wrapper search_form">
  {% include './search_form.html' %}
</div>
<div class="content_wrapper search_results">
  <div
    class="content_main content_main-alt content__flush-all-on-small content__flush-bottom">
    <section class="content_main-inner">
      {% block content_main %}{% endblock content_main %}
    </section>
  </div>
</div>
{% endblock content %}
