{% extends './base_search.html' %}

{% load humanize %}

{% block content_main %}
<div class="results_header">
  <div class="results_count">
    <h2 class="h3">
      {% if page_obj.paginator.count == total_count %}
      Showing {{ total_count | intcomma }}
      total page{{ total_count | pluralize }}
      {% else %}
      Showing {{ page_obj.paginator.count | intcomma }}
      match{{ page_obj.paginator.count | pluralize:"es" }}
      out of {{ total_count | intcomma }} total pages
      {% endif %}
    </h2>
  </div>
  {% if total_count %}
  <div class="results_csv">
    <a class="a-link a-link__icon"
      href="{% url "download-csv" %}"
    >
      <span class="a-link_text">Download CSV file</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 19" class="cf-icon-svg"><path d="M11.16 16.153a.477.477 0 0 1-.476.475H1.316a.476.476 0 0 1-.475-.475V3.046a.476.476 0 0 1 .475-.475h6.95l2.893 2.893zm-1.11-9.925H8.059a.575.575 0 0 1-.574-.573V3.679H1.95v11.84h8.102zm-1.234 5.604L6.388 14.26a.554.554 0 0 1-.784 0l-2.428-2.428a.554.554 0 1 1 .783-.784l1.483 1.482V7.41a.554.554 0 1 1 1.108 0v5.12l1.482-1.482a.554.554 0 0 1 .784.783z"></path></svg>
    </a>
    {# Use an arbitrary estimate of how big the CSV is likely to be. #}
    {# Use Django's built-in width ratio tag as a way to multiply. #}
    {% widthratio page_obj.paginator.count 1 2048 as csv_file_size %}
    (~{{ csv_file_size | filesizeformat }})
  </div>
  {% endif %}
</div>

<div class="results_list">
  <ul class="m-list">
    {% for page in pages %}
    <article class="results_item">
      <h4>
        <a href="{{ page.get_absolute_url }}">{{ page.get_trimmed_page_title }}</a>
      </h4>
      <div class="u-truncate">{{ page.path }}</div>
    </article>
    {% endfor %}
  </ul>
</div>

{% if page_obj.paginator.num_pages > 1 %}
<div class="results_paginator">
  <nav class="m-pagination" role="navigation" aria-label="Pagination">
    {% if page_obj.has_previous %}
    <a class="a-btn m-pagination_btn-prev" href="?page={{ page_obj.previous_page_number }}{% if pagination_query_params %}&amp;{{ pagination_query_params }}{% endif %}">
      {% else %}
      <a class="a-btn
                  a-btn__disabled
                  m-pagination_btn-prev">
        {% endif %}
        <span class="a-btn_icon a-btn_icon__on-left">
          {% include './icons/chevron-left.svg' %}
        </span>
        Previous
      </a>
      {% if page_obj.has_next %}
      <a class="a-btn m-pagination_btn-next" href="?page={{ page_obj.next_page_number }}{% if pagination_query_params %}&amp;{{ pagination_query_params }}{% endif %}">
        {% else %}
        <a class="a-btn
                a-btn__disabled
                m-pagination_btn-next">
          {% endif %}
          Next
          <span class="a-btn_icon a-btn_icon__on-right">
            {% include './icons/chevron-right.svg' %}
          </span>
        </a>
        <form class="m-pagination_form" action="{% if pagination_query_params %}?{{ pagination_query_params }}{% endif %}">
          <label for="m-pagination_current-page">
            <span class="m-pagination_label">
              Page
            </span>
            <span class="u-visually-hidden">
              {{ page_obj.number }} out of {{ page_obj.paginator.num_pages }} total pages
            </span>
          </label>
          <input id="m-pagination_current-page"
                 class="m-pagination_current-page"
                 name="page"
                 type="number"
                 min="1"
                 max="{{ page_obj.paginator.num_pages }}"
                 pattern="[0-9]*"
                 inputmode="numeric"
                 value="{{ page_obj.number }}">
          <span class="m-pagination_label">
            of {% widthratio page_obj.paginator.count page_obj.paginator.per_page 1 %}
          </span>
          <button class="a-btn
                        a-btn__link
                        m-pagination_btn-submit" type="submit">
            Go
          </button>
          <input type="hidden" name="search_type" value="{{ form.search_type }}">
          <input type="hidden" name="q" value="{{ form.q }}">
        </form>
  </nav>
</div>
{% endif %}

{% endblock content_main %}
