{% extends './base_search.html' %} {% load humanize %} {% load precisedelta %}
{% block content_main %}
<div class="results_count">
  <!-- prettier-ignore -->
  <h2 class="h3">
    {% if count == crawl_stats.count %}
      Showing {{ crawl_stats.count | intcomma}}
      total page{{ crawl_stats.count | pluralize }}
    {% else %}
      Showing {{ count| intcomma }} match{{ count | pluralize:"es" }}
      out of {{ crawl_stats.count| intcomma }} total pages
    {% endif %}
  </h2>
  {% if count %}
  <div class="results_csv">
    <a
      class="a-link a-link__icon a-link__no-wrap"
      href="{% url 'index' %}?format=csv{% if request.query_params.search_type %}&search_type={{ request.query_params.search_type | urlencode }}{% endif %}{% if request.query_params.q %}&q={{ request.query_params.q | urlencode }}{% endif %}">
      <span class="a-link_text">Download CSV file</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 12 19"
        class="cf-icon-svg">
        <path
          d="M11.16 16.153a.477.477 0 0 1-.476.475H1.316a.476.476 0 0 1-.475-.475V3.046a.476.476 0 0 1 .475-.475h6.95l2.893 2.893zm-1.11-9.925H8.059a.575.575 0 0 1-.574-.573V3.679H1.95v11.84h8.102zm-1.234 5.604L6.388 14.26a.554.554 0 0 1-.784 0l-2.428-2.428a.554.554 0 1 1 .783-.784l1.483 1.482V7.41a.554.554 0 1 1 1.108 0v5.12l1.482-1.482a.554.554 0 0 1 .784.783z"></path>
      </svg>
    </a>
    <!-- prettier-ignore -->
    <span>
      {# Use an arbitrary estimate of how big the CSV is likely to be. #}
      {# Use Django's built-in width ratio tag as a way to multiply. #}
      {% widthratio count 1 256 as csv_file_size %}
      (~{{ csv_file_size | filesizeformat }})
    </span>
  </div>
</div>
{% endif %}

<div class="results_list">
  <ul class="m-list">
    {% for page in results %}
    <!-- prettier-ignore -->
    <li class="results_item">
      <h4>
        <a class="a-link a-link__icon a-link__no-wrap" href="{{ page.url }}">
          <span class="a-link_text u-truncate">{{ page.title }}</span>
          <svg
            class="cf-icon-svg"
            viewBox="0 0 14 19"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M13.017 3.622v4.6a.554.554 0 0 1-1.108 0V4.96L9.747 7.122a1.65 1.65 0 0 1 .13.646v5.57A1.664 1.664 0 0 1 8.215 15h-5.57a1.664 1.664 0 0 1-1.662-1.663v-5.57a1.664 1.664 0 0 1 1.662-1.662h5.57A1.654 1.654 0 0 1 9 6.302l2.126-2.126H7.863a.554.554 0 1 1 0-1.108h4.6a.554.554 0 0 1 .554.554zM8.77 8.1l-2.844 2.844a.554.554 0 0 1-.784-.783l2.947-2.948H2.645a.555.555 0 0 0-.554.555v5.57a.555.555 0 0 0 .554.553h5.57a.555.555 0 0 0 .554-.554z"></path>
          </svg></a>
      </h4>
      <div class="u-truncate">{{ page.url }}</div>
      <a
        href="{% url 'page' %}?url={{ page.url | urlencode }}{% if request.query_params.search_type %}&search_type={{ request.query_params.search_type | urlencode }}{% endif %}{% if request.query_params.q %}&q={{ request.query_params.q | urlencode }}{% endif %}">
        Details
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% if previous or next %}
<div class="results_paginator">
  <!-- prettier-ignore -->
  <nav class="m-pagination" role="navigation" aria-label="Pagination">
    <a
      {% if previous %}
      class="a-btn m-pagination_btn-prev"
      href="{{ previous }}"
      {% else %}
      class="a-btn a-btn__disabled m-pagination_btn-prev"
      {% endif %}
    >
      <span class="a-btn_icon a-btn_icon__on-left">
        {% include './icons/chevron-left.svg' %}
      </span>
      Previous
    </a>
    <a
      {% if next %}
      class="a-btn m-pagination_btn-next"
      href="{{ next }}"
      {% else %}
      class="a-btn a-btn__disabled m-pagination_btn-next"
      {% endif %}
    >
      Next
      <span class="a-btn_icon a-btn_icon__on-right">
        {% include './icons/chevron-right.svg' %}
      </span>
    </a>
    <form class="m-pagination_form" action="{% url 'index' %}">
      <label for="m-pagination_current-page">
        <span class="m-pagination_label">Page</span>
        <span class="u-visually-hidden">
          {{ page_obj.number }} out of {{ num_pages }} total pages
        </span>
      </label>
      <input
        id="m-pagination_current-page"
        class="m-pagination_current-page"
        name="page"
        type="number"
        min="1"
        max="{{ num_pages }}"
        pattern="[0-9]*"
        inputmode="numeric"
        value="{{ page_number }}" />
      <span class="m-pagination_label">of {{ num_pages }}</span>
      <button class="a-btn a-btn__link m-pagination_btn-submit" type="submit">
        Go
      </button>
      <input
        type="hidden"
        name="search_type"
        value="{{ request.query_params.search_type }}" />
      <input type="hidden" name="q" value="{{ request.query_params.q }}" />
    </form>
  </nav>
</div>
{% endif %}

<div class="o-well o-well_alt">
  <div class="lead-paragraph">Discover more</div>
  <div class="u-crawl_date">
    <span id="last-crawl" class="u-crawl_text u-bold_text">Last crawl: </span>
    <p>{{ crawl_stats.start }}</p>
  </div>
  <ul class="m-list">
    <!-- prettier-ignore -->
    <li>
      Download CSV
      <a
        class="m-list_link a-link a-link__icon"
        href="{% url 'errors' %}?format=csv">
        <span class="a-link_text">website errors (including 404s)</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 12 19"
          class="cf-icon-svg">
          <path
            d="M11.16 16.153a.477.477 0 0 1-.476.475H1.316a.476.476 0 0 1-.475-.475V3.046a.476.476 0 0 1 .475-.475h6.95l2.893 2.893zm-1.11-9.925H8.059a.575.575 0 0 1-.574-.573V3.679H1.95v11.84h8.102zm-1.234 5.604L6.388 14.26a.554.554 0 0 1-.784 0l-2.428-2.428a.554.554 0 1 1 .783-.784l1.483 1.482V7.41a.554.554 0 1 1 1.108 0v5.12l1.482-1.482a.554.554 0 0 1 .784.783z"></path>
        </svg>
      </a>
      and
      <a
        class="m-list_link a-link a-link__icon"
        href="{% url 'redirects' %}?format=csv">
        <span class="a-link_text">website redirects</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 12 19"
          class="cf-icon-svg">
          <path
            d="M11.16 16.153a.477.477 0 0 1-.476.475H1.316a.476.476 0 0 1-.475-.475V3.046a.476.476 0 0 1 .475-.475h6.95l2.893 2.893zm-1.11-9.925H8.059a.575.575 0 0 1-.574-.573V3.679H1.95v11.84h8.102zm-1.234 5.604L6.388 14.26a.554.554 0 0 1-.784 0l-2.428-2.428a.554.554 0 1 1 .783-.784l1.483 1.482V7.41a.554.554 0 1 1 1.108 0v5.12l1.482-1.482a.554.554 0 0 1 .784.783z"></path></svg></a
      >.
    </li>
    <li>
      Explore the data via API:
      <a class="m-list_link a-link" href="{% url 'index' %}?format=api">pages</a
      >,
      <a class="m-list_link a-link" href="{% url 'components' %}?format=api"
        >components</a
      >,
      <a class="m-list_link a-link" href="{% url 'errors' %}?format=api"
        >errors</a
      >, and
      <a class="m-list_link a-link" href="{% url 'redirects' %}?format=api"
        >redirects</a
      >.
    </li>
    <li class="m-list_item">
      <a
        class="m-list_link a-link a-link__icon"
        href="{% url 'download-database' %}">
        <span class="a-link_text">Download the raw SQLite database</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 12 19"
          class="cf-icon-svg">
          <path
            d="M11.16 16.153a.477.477 0 0 1-.476.475H1.316a.476.476 0 0 1-.475-.475V3.046a.476.476 0 0 1 .475-.475h6.95l2.893 2.893zm-1.11-9.925H8.059a.575.575 0 0 1-.574-.573V3.679H1.95v11.84h8.102zm-1.234 5.604L6.388 14.26a.554.554 0 0 1-.784 0l-2.428-2.428a.554.554 0 1 1 .783-.784l1.483 1.482V7.41a.554.554 0 1 1 1.108 0v5.12l1.482-1.482a.554.554 0 0 1 .784.783z"></path>
        </svg>
      </a>
      ({{ crawl_stats.database_size | filesizeformat }}) to
      <a
        class="m-list_link a-link a-link__icon"
        href="https://github.com/cfpb/crawsqueal#how-to-query-the-crawler-database">
        <span class="a-link_text">query the data locally</span>
        <svg
          class="cf-icon-svg"
          viewBox="0 0 14 19"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13.017 3.622v4.6a.554.554 0 0 1-1.108 0V4.96L9.747 7.122a1.65 1.65 0 0 1 .13.646v5.57A1.664 1.664 0 0 1 8.215 15h-5.57a1.664 1.664 0 0 1-1.662-1.663v-5.57a1.664 1.664 0 0 1 1.662-1.662h5.57A1.654 1.654 0 0 1 9 6.302l2.126-2.126H7.863a.554.554 0 1 1 0-1.108h4.6a.554.554 0 0 1 .554.554zM8.77 8.1l-2.844 2.844a.554.554 0 0 1-.784-.783l2.947-2.948H2.645a.555.555 0 0 0-.554.555v5.57a.555.555 0 0 0 .554.553h5.57a.555.555 0 0 0 .554-.554z"></path></svg></a
      >.
    </li>
  </ul>
</div>
{% endblock content_main %}
