// CFPB Design System
@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;
@use '@cfpb/cfpb-design-system/src/elements/base' as *;

// Inspired by consumerfinance.gov
@use "breadcrumbs" as *;
@use "footer" as *;
@use "skip-nav" as *;
@use "layout" as *;

// Crawler-specific
@use "crawler" as *;

:root {
  --font-stack: Arial, sans-serif;
}
