name: Lint

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - uses: actions/cache@v4
      name: Configure npm caching
      with:
        path: ~/.npm
        key: ${{ runner.OS }}-npm-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.OS }}-npm-
    - name: Install dependencies
      run: |
        corepack enable
        yarn install
    - name: Lint files
      run: |-
        yarn run lint
